/* applied radial gradient, matching color scheme for both HTML pages*/
body{
    background-image: radial-gradient(khaki,pink,gold,grey,grey);
}
/* header styling */
h1{
    text-align: center;
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 600%;
    font-style: italic;
}
/* login status line style */
p{
    text-align: center;
    color: forestgreen;
    font-size: 250%;
    font-weight: bolder;
    text-decoration: gold;
    font-family: 'Courier New', Courier, monospace;
}
/* form style for input box designations */
form{
    color: midnightblue;
    font-size: 110%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* style adjustments for input boxes */
input{
    border-radius: 13%;
    border-width: 15%;
    border-style: groove;
    border-color: forestgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}